.header {
    display: flex;
    align-items: center;
    width: 95%;
    
}
 h1 {
    font-size: 25px;
    font-family: K2D;
    font-weight: bold;
    margin-left: 47%;
    margin-top: 1%;
}


.edit-button, .delete-button {
    margin-left: 10px;
    
}

.edit-button{
    color: #1050c5;
    margin-left: 15px;
}

.delete-button {
    color: #d01111;
    margin-right: 15px;
}
#searchForm  {
   margin-left: 75%;
   margin-top: 1%;
   
}
#searchForm input[type="text"] {
    padding: 1px 5px;
    font-size: 14px;
    font-family: 'Maitree', sans-serif;
}

#searchForm button {
    padding: 0 3px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'K2D', sans-serif;
    margin-top: 2%;
}
.table-container {
    max-height: 440px;
    overflow-y: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* กำหนดความสูง content หักลบความสูงของ header */
    overflow-x: auto;
    margin-bottom: 80px; /* เพิ่มระยะขอบด้านล่าง */
}
table {
    width: 95%;
    border-collapse: collapse;
    position: relative;
    margin-bottom: 40px;
}

thead th {
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    background-color: #142338;
    color: white; 
    z-index: 0;
    border-bottom: 2px solid #ddd; 
    text-align: center;
}

th, td {
    border: 1px solid #8a8a8a; 
    padding: 8px; 
    text-align: left;
    background-color: #f8f8f8;
    font-family: Maitree;
}
    

th {
    background-color: #243651;
    color: white;
    z-index: 500
}
td {
    text-align: left;
}

td:first-child {
    width: 5%;
    text-align: center;
}
td:nth-child(2) {
    width: 10%;
}
td:nth-child(3) {
    width: 5%;
    text-align: center;
}

#addButton{
    background-color: #06b400; 
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: K2D;
    margin-left: 65px;
    margin-top: 1%;
    margin-bottom: 0.5%;
    transition: background-color 0.3s ease;
}


.modal-delete {
    background-color: #fff;
    padding: 80px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 30%;
   
}

.modal-delete p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #333;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}


button.delete {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.approve {
    background-color: #00c003;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #b05959;
}

button.approve:hover {
    background-color: #148918;
}
.footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

#addcustomer {
    background-color: #f5f5f5;
    padding: 15px 25px;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    border: 1px solid #979797; 
    margin-left: 25%;
    margin-top: 1%;
}
#addcustomer h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'K2D', sans-serif;
    margin-left: 45%;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: nowrap;
}

.form-group label {
    flex: 0 0 100%; 
    font-family: Maitree;
    margin-left: 5%;
    margin-right: 80px;
    text-align: left;
}

#addcustomer label {
    flex: 0 0 180px; /* กำหนดความกว้างของ label */
    font-family: Maitree;
    margin-right: 80px;
    text-align: left;
   
}

#addcustomer input[type="text"], 
#addcustomer input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #e1dfdf;
    border-radius: 4px;
    font-family: 'Maitree', sans-serif;
    background-color: #ffffff;
    font-size: 15px;
}
.form-group select {
    padding: 8px;
    max-height: 100px; 
    overflow-y: auto;
    width: 100%;
    
}

.back-link {
    color: #a20c8c;
    margin-left: 73%;
    font-family: Maitree;
    height: 10%;
}

.back-link:hover {
   color: #cc2121;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-group input {
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    display: block;
}

.form-group label {
        flex: 0 0 120px; /* กำหนดความกว้างของ label */
        font-family: Maitree;
        margin-left: 5%;
        text-align: left;
}

#addProductForm {
    background-color: #f5f5f5;
    padding: 15px 25px;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    border: 1px solid #979797; 
    margin-left: 25%;
    margin-top: 1%;
}
#editProductForm {
    background-color: #f5f5f5;
    padding: 15px 25px;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    border: 1px solid #979797;
    margin-left: 25%;
    margin-top: 1%;
}
#editProductForm h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'K2D', sans-serif;
    margin-left: 45%;
}
.add_1 {
    display: inline-block;
    margin: 1px;
    border: 2px solid #007bff;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s;
}

.add_1:hover {
    transform: scale(1.05);
}

.add-link {
    display: inline-block;
    padding: 1px 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}
.add-link:hover {
    background-color: #0056b3;
}
#addProductForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
}

#ProductForm {
    text-align: center; 
}

#saveProductButton {
    background-color: green; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer;
    border-radius: 5px; 
}

#saveProductButton:hover {
    background-color: darkgreen; 
}
