.header {
    font-size: 20px;
    font-family: K2D;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.table-container {
    max-height: 450px;
    overflow-y: auto;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    position: relative;
}

thead th {
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    background-color: #142338;
    color: white; 
    z-index: 0;
    border-bottom: 2px solid #ddd; 
    text-align: center;
}

th, td {
    border: 1px solid #bdbdbd; 
    padding: 8px; 
    text-align: left;
    background-color: #f8f8f8;
    font-family: Maitree;
}

td:first-child {
    width: 30%;
    
    
}
td:nth-child(2) {
    width: 8%;
    text-align: center;
}
td:nth-child(3){
    width: 10%;
    text-align: center;
}
td:nth-child(4){
    width: 8%;
    text-align: center;
}
td:nth-child(5) {
    width: 8%;
    text-align: center;
    
}
td:nth-child(6) {
    width: 7%;
    text-align: center;
}



.approve-button i {
    font-size: 20px;
    color: #1a49bf;
    cursor: pointer;
    margin-left: 10px;
}
.delete-button i {
    font-size: 23px;
    color: #bc0a0a;
    cursor: pointer;
    margin-left: 10px;
}
.approve {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: K2D;
}
.delete {
    background-color: #f44336;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: K2D;
}

#addButton{
    background-color: #148918; 
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    font-family: K2D;
    margin-left: 95px;
    
}


.modal-delete {
    background-color: #fff;
    padding: 70px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 30%;
   
   
}


.modal-delete p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #333;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

    #addcustomer {
        background-color: #f5f5f5;
        padding: 15px 25px;
        border-radius: 5px;
        width: 100%;
        max-width: 800px;
        border: 1px solid #979797; 
        margin-left: 25%;
        margin-top: 1%;
    }
    #addcustomer h2 {
        margin-bottom: 20px;
        font-size: 18px;
        font-family: 'K2D', sans-serif;
        margin-left: 45%;
    }
    
    .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .form-group label {
        flex: 0 0 120px; /* กำหนดความกว้างของ label */
        font-family: Maitree;
        margin-left: 5%;
        text-align: left;
    }
    
    #addcustomer label {
        flex: 0 0 120px; /* กำหนดความกว้างของ label */
        font-family: Maitree;
        margin-right: 10px;
        text-align: left;
       
    }
    
    #addcustomer input[type="text"], 
    select {
        flex: 1;
        padding: 10px;
        border: 1px solid #e1dfdf;
        border-radius: 4px;
        font-family: 'Maitree', sans-serif;
        background-color: #ffffff;
        font-size: 15px;
    }
    
    .back-link {
        color: #a20c8c;
        margin-left: 73%;
        font-family: Maitree;
    }
    
    .back-link:hover {
       color: #cc2121;
    }


    button.delete {
        background-color: #f44336;
        color: #fff;
        padding: 10px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    
    button.approve {
        background-color: #2d9a47;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    
    button.delete:hover {
        background-color: #bc0a0a;
    }
    
    button.approve:hover {
        background-color: #148918;
    }
    .footer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        
    }

    .error {
        color: red;
        text-align: center;
        margin-bottom: 15px;
    }


    
    .filter-container {
        margin-left: 60%;
        margin-bottom: 5px;
    }
    .filter-container select {
        padding: 5px;
        min-width: 250px; /* ปรับความกว้างของ dropdown */
        border: 1px solid black;
        background-color: white;
        white-space: nowrap; /* ป้องกันการตัดบรรทัด */
    }